<!--<p style="color: green"><%#= notice %></p>-->

<!--<h1>Personal infos</h1>-->

<!--<div id="personal_infos">-->
  <%# @personal_infos.each do |personal_info| %>
    <%#= render personal_info %>
<!--    <p>-->
    <%#= link_to "Edit", edit_personal_info_path(personal_info) %>
      <%#= link_to "Show this personal info", personal_info %>
<!--    </p>-->
  <%# end %>
<!--</div>-->


<%#= link_to "Back to Home", show_path %>